:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
  }
  body{
    background-color: var(--Cream);
  }
  #midtext{
    font-family: 'Montserrat', sans-serif;
  }
  button{
    font-family: 'Montserrat', sans-serif;
  }
  #price{
    font-family: 'Fraunces', serif;
  }
#tagP{
    font-family:url(https://fonts.google.com/specimen/Montserrat);;
}

h1{
    font-family:  url(https://fonts.google.com/specimen/Fraunces);
    
}

@media only screen and (max-width: 375px) {
   #container{
    display: flex;
    flex-direction: column;

   }
   #picture{
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 250px;
   }
  }